body {
  min-width: 600px;
  max-width: 100%;
}

table {
  width: 60%;
  border-spacing: 0px;
}

td {
    /* padding: 0px; */
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

td.time {
  text-align: right;
  cursor: pointer;
}

td.on {
  text-align: center;
}

td.day {
  text-align: center;
  cursor: pointer;
}

td.day {
  border-bottom: 1px solid #ddd;
  text-align: left;
  cursor: pointer;
  width: 20px;
}

td.date {
  text-align: left;
  cursor: pointer;
}

tr:hover {background-color: #79ad61 }