body {
  min-width: 300px;
  max-width: 100%;
}

table {
  width: 100%;
  border-spacing: 0px;
}

td {
    border-bottom: 1px solid #c9ecec;
    cursor: pointer;
}

td.time {
  text-align: right;
}

td.on {
  text-align: center;
}

td.day {
  text-align: center;
}

td.day {
  text-align: left;
  width: 30px;
}

td.date {
  text-align: left;
}

tr:hover {background-color: #c9ecec }

p {
  text-align: right;
}

div {
  text-align: right;
  font-size: 8pt;
}
